/* * {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  text-align:center;
  color: rgb(97, 178, 198);
}

.grid-row {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin:0 0 -15px 0;
}

.day {
  display: table-cell;
  background: #e7b5c9;
  padding: 2%;
}

.grid {
  width: 100%;
  display: table;
  border-collapse:separate;
  border-spacing:15px;
} */

/* 
if clicked, change star color to gold  */
 /* .fa-star-sharp{
  color: rgb(248, 247, 244);
  border: black;
} 
.grid { 
   display: grid; 
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  /* border: black;
  border: solid; */

  /* }

  ul{
    text-decoration: none;
  }
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  } 
  .dayMonday{
    margin-left: 180px;
  }

  .day{
    margin: 45px;
  }

 li{
   float: left;
    /* display: inline-block;
  }*/

  .view-container {
    width: 1024px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  
  .grid-container > .grid-row-header {
    font-weight: bold;
  }
  
  .grid-container .grid-item {
    padding: .25em;
    line-height: 2em;
    font-size: 1.25em;
    text-align: center;
  }
  
  .grid-container .habit-name {
    grid-column: auto/span 3;
   border: 2px solid black;
  }
  

  .star-on{
    background-color: gold;
  }

  .checked-off{

  }

  .messageDisplay{
    width: 200px;
    border: 3px solid purple;
    font-size: large;
    font-style: bold italic;
    color: pink;
  }

  /* font awesome icons  */
  /* .fa-ban{
  transform: scale(2);
  }
  .fa-star-sharp{
    transform: scale(2);
  } */